<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/cards.js" defer></script>
    <script src="/scripts/cart.js" defer></script>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/login.js" defer></script>
    <script src="/scripts/registration.js" defer></script>
    <script src="/scripts/users.js" defer></script>
    <title>MTG-Marketplace</title>
  </head>
  <body>
    <header>
      <div id='upper-header'>
        <div id='banner'>
          <img class="banner" src='/img/banner.jpg' />
        </div>
        <div id='profile'>
          {{#if isAuthorized}}
            <button id='profileBtn'>Profile</button>
            <button id='logoutBtn'>Logout</button>
          {{else}}
            <button id='loginBtn'>Login</button>
            <button id='regBtn'>Registration</button>
          {{/if}}
        </div>
      </div>
      <div id='search-div'>
        <input id="searchInput" type="search" name="search" placeholder="Enter a card name">
        <button id="searchBtn">Search</button>
        <button id="addCard">Выставить карту на продажу</button>
      </div>
      <div id = 'cart'>
      </div>
    </header>
    {{{body}}}
  </body>
</html>
