.banner {
  width: 200px;
  height: 100px;
}

#upper-header {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: cadetblue;
}

/* new card add  */

.new-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

p {
  margin: 0;
  padding: 0;
}

.inside-form-container {
  margin-top: 1.5em;
  text-align: left;
}

.submit-btn {
  margin-top: 1.5em;
}
