body {
  background-color: #212121;
}

.banner {
  width: 200px;
  height: 100px;
}

#upper-header {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: cadetblue;
}

/* new card add  */

.new-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

p {
  margin: 0;
  padding: 0;
}

.inside-form-container {
  margin-top: 1.5em;
  text-align: left;
}

.submit-btn {
  margin-top: 1.5em;
}

.cards {
  width: 200px;
  height: 300px;
}

#card-container {
  margin: 30px;
  display: flex;
}

.card-div {
  border-radius: 5%;
  background-color: rgb(19, 18, 18);
  font-weight: bolder;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*cards/display.hbs  */
.single-card-container {
  width: 40%;
  height: auto;
  margin: 0 auto 3em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 0.2em solid black;
}

.seller-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.2em solid black;
}
