<div id='card-container'>
  {{#each fullProduct}}
    <div class='card-div'>
      <a class='card-name' href='/api/cards/{{this.id}}'>
        <img class='cards' src="{{this.img}}" />
      </a>
      <p>{{this.name}}</p>
      {{!-- <p class="card-price">{{this.price}}</p> --}}
    </div>
  {{/each}}
</div>
