<div id="card-container">
  {{#each fullProduct}}
  <div class="card-div">
    <img class="cards" src={{this.img}}>
    <a class="card-name" href='/api/cards/{{this.id}}'>{{this.name}}</a>
    <p class="card-price">{{this.price}}</p>
  </div>
  {{/each}}
</div>
