
<div id="complete-container">
  <h1>Оформление заказа завершено</h1>

<p>Вы заказали следующие карты:</p>
{{#each cards}}
<p>{{this}}</p>
{{/each}}

<p>{{session.user.login}}, мы отправили заказ вам на почту {{session.user.email}}.
</div>
