<form class="form-style" action="/api/login" method="POST">
  <input class="form-input" name="emailLogin" type="text" placeholder="Login / email" required>
  <input class="form-input" name="password" type="password" placeholder="Password" required>
  <button class="form-btn" type="submit">Login</button>
</form>

