<form class="form-style" action="/api/login" method="POST">
  <input class="form-input" name="loginEmail" type="email" placeholder="Name" required>
  <input class="form-input" name="loginPass" type="password" placeholder="Password" required>
  <button class="form-btn" type="submit">Login</button>
</form>
