<div class="profile-container">
  <h2 class="profile-name">{{user.login}}</h2>
  <p class="profile-city">{{user.city}}</p>
</div>

<div class="profile-cards-container">
  {{#each cards}}
  <div class="profile-cards">this</div>
  {{/each }}
</div>
