<div class="profile-container">
  <h2 class="profile-name">Name</h2>
  <p class="profile-city">City</p>
</div>

<div class="profile-cards-container">
  {{#each imgArr}}
  <div class="profile-cards">this</div>
</div>
