<form id="regFormId" class="form-style" action="/api/users/new" method="POST">
  <input class="form-input" name="email" type="email" placeholder="Email" required>
  <input class="form-input" name="login" type="text" placeholder="Login" required>
  <input class="form-input" name="city" type="text" placeholder="City" required>
  <input class="form-input" name="phone" type="text" placeholder="Phone" >
  <input class="form-input" name="password" type="password" placeholder="Password" required>
  <button class="form-btn" type="submit">Register</button>
</form>
