<form class="form-style" action="/api/users/new" method="POST">
  <input class="form-input" name="regEmail" type="email" placeholder="Email" required>
  <input class="form-input" name="regNick" type="text" placeholder="Name" required>
  <input class="form-input" name="regCity" type="text" placeholder="City" required>
  <input class="form-input" name="regPhone" type="text" placeholder="Phone" >
  <input class="form-input" name="regPass" type="password" placeholder="Password" required>
  <button class="form-btn" type="submit">Register</button>
</form>
